html {
  overflow-x: hidden;
  background-color: white; /* set a background color as a fallback */
  background-image: url("https://firebasestorage.googleapis.com/v0/b/onl-bbms.appspot.com/o/counter-bg.png?alt=media&token=92cdf5be-1064-4736-98fb-ce69ecc18227");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 0;
}

.home-img {
  display: none; /* hide the image, as it's being used as the background */
}
