html {
  overflow-x: hidden;
  background-color: white; /* set a background color as a fallback */
  background-image: url("https://firebasestorage.googleapis.com/v0/b/onl-bbms.appspot.com/o/Awesome%20Red%20and%20Black%20iPhone%20Wallpapers%20-%20WallpaperAccess.jpg?alt=media&token=e3caf4bc-2637-42b7-8bb9-191866479fc7");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  z-index: 0;
}

.home-img {
  display: none; /* hide the image, as it's being used as the background */
}
