html {
  overflow-x: hidden;
  background-color: white; /* set a background color as a fallback */
  background-image: url("https://firebasestorage.googleapis.com/v0/b/onl-bbms.appspot.com/o/wallpaper.jpg?alt=media&token=7febd1a0-860a-4a96-bdcc-bf00751c5000");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 0;
}

.home-img {
  display: none; /* hide the image, as it's being used as the background */
}
