.signupScreen {
  margin-top: 100px;
  display: flex;
  max-width: 300px;
  padding: 70px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(211, 211, 211, 0.854);
  margin-bottom: 80px;
}

.signupScreen > form > h1 {
  text-align: left;
  margin-bottom: 5px;
}

.signupScreen:hover {
  box-shadow: 0 0 0.8rem lightgray;
}
.signupScreen__gray {
  color: black;
}

.signupScreen__gray:hover {
  text-shadow: 0 0 0.4rem white;
}

.signupScreen > form > h4 {
  text-align: left;
  margin-top: 30px;
}

.signupScreen > form > h4 > .signupScreen__link {
  color: #e50914;
  font-weight: 600;
}

.signupScreen__link {
  background-color: rgba(211, 211, 211, 0.8);
}

.signupScreen > form {
  display: grid;
  flex-direction: column;
  margin-bottom: 40px;
}

.signupScreen > form > input {
  outline-width: 0;
  height: 40px;
  margin-bottom: 14px;
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
}

.signupScreen > form > button {
  padding: 16px 20px;
  font-size: 1rem;
  color: #ffff;
  background-color: #e50914;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  margin-top: 20px;
}

.signupScreen > form > button:hover {
  box-shadow: 2px 2px 2px 1px maroon;
}

.signupScreen__link:hover {
  cursor: pointer;
  text-shadow: 0 0 0.4rem rgb(244, 78, 78);
  text-decoration: underline;
}

.signupScreen__popup {
  background-color: rgba(211, 211, 211, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 0.8rem lightgray;
  padding: 20px;
  position: absolute;
  width: 100%;
  height: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  overflow: auto;
}

.signupScreen__popup h2 {
  margin-top: 0;
  color: black;
}

.signupScreen__popup label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 20px;
  color: black;
}
.signupScreen__popup label input[type="text"] {
  text-align: center;
}

.signupScreen__popup label input[type="number"] {
  text-align: left;
}

.signupScreen__popup label input[type="radio"] {
  display: block;
  text-align: right;
  margin-top: 5px;
  margin-left: 10px;
}

.signupScreen__popup p {
  margin-right: 10px;
}

.signupScreen__popup p,
.signupScreen__popup label {
  margin-bottom: 10px;
}

.signupScreen__popup label input,
.signupScreen__popup label select {
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
}

.signupScreen__popup label select {
  width: 50%;
}

.signupScreen__popup button[type="submit"],
.signupScreen__popup button[type="button"] {
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #e50914;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.signupScreen__popup button[type="submit"]:hover,
.signupScreen__popup button[type="button"]:hover {
  background-color: #d40911;
}

footer {
  /* Position the footer at the bottom of the viewport */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Set the height of the footer */
  background-color: #f5f5f5;
}
